:root 
{
    --color1--: #0F1035;
    --color2--: #365486;
    --color3--: #7FC7D9;
    --color4--: #DCF2F1;

    --text-color1--: #e0e0e0;
    --text-color2--: #464646;
}


body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
}

.container 
{
    border: 2px solid var(--color1--);
    width: 360px;
    height: 460px;
    border-radius: 10px;
    text-align: center;
    background-color: var(--color2--);
}
.container h2, p 
{
    color: var(--text-color1--);
}

.container .input-fields 
{
    width: 80%;
    height: 55%;
    border: 2px solid var(--color1--);
    margin: auto;
    color: var(--color1--);
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: var(--color3--);
}

.container .input-fields #btn1
{
    color: var(--color1--);
    padding: 8px;
    border-radius: 6px;
    border: 2px solid var(--color1--);
    margin-bottom: 5px;
    width: 50%;
}

.container .input-fields #btn1:hover
{
    cursor: pointer;
    transform: scale(1.04);
}

.container .input-fields #height 
{
    margin-top: 20px;
}

.container .input-fields .input 
{
    border-radius: 6px;
    display: inline-block;
    margin-top: 20px;
    padding: 8px;
}

.container .input-fields #weight 
{
    margin-bottom: 20px;
}

.container .input-fields #calculate 
{
    display: block;
    padding: 20px;
    margin: auto;
    width: 60%;
    background-color: #388699;
    border: 2px solid var(--color2--);
}

.container .p1 
{
    border: 2px solid var(--color1--);
    background-color: var(--color3--);
    color: var(--color1--);
    border-radius: 8px;
    padding: 6px;
    width: 70%;
    margin-top: 10px;
    margin: auto;
    font-size: 14px;
}

/* .container h2 {
    animation: UnderlineBorder 3s 0.03s infinite ease-in-out;
} */

@keyframes UnderlineBorder {
    from {
        border-bottom: none;
    }

    to {
        /* width: 20%; */
        border-bottom: 2px solid black;
    }
}